<!DOCTYPE html>
<html>
    <head>
        <title> Ren Writes </title>
    </head>
    
    <body>
        <header>
            <h1><a href="/"> Ren Writes</a></h1>
        </header>

        <article>
            <time> published: April 11th 2026 </time>
            <h2><a href="">A scientist moves across the ocean </a></h2>
        </article>

        <article>
            <time>published: April 11th 2026, 20:25</time>
            <h2><a href="">Publications</a></h2>
            <p> list of publications and links to full articles here</p>
        </article>

        <article>
            <time>published April 11th 2026, 20:25</time>
            <h2><a href="">Conference Presentations</a></h2>
            <p> list of conferance presentations here </p>
        </article>
        
        <p> Next World Domination!!!!</p>
    </body>
</html>